.head {
    position: absolute;
    top : 96px;
    text-align: left;
    
}

.searchfolder {
    position: absolute;
    top : 136px;
}
.search {
    height: 31px;
    width : 188px;
}

.card_1 {
    position: absolute;
    top: 191px;
    left: 16px;
    height: 627px; 
}

.card_2{
    position: absolute;
    top:838px;
    left:16px;
    height:627px;
}
.cardtext {
    text-align: left;
}
