.button_1{
    position:absolute;
    margin-right: 65px;
    margin-left: 65px;
    box-shadow: '5px 5px 4px rgba(0, 0, 0, 0.45)';
    width: 215px;
    height: 48px;
    background-color: rgba(36, 0, 255, 0.7);;
    border-radius: '9px';
    display:block;
    color: white;
    padding:9px 20px;
    border: none;
    top: 311px;
}

.button_2{
    position:absolute;
    margin-right: 65px;
    margin-left: 65px;
    box-shadow: '5px 5px 4px rgba(0, 0, 0, 0.45)';
    width: 215px;
    height: 48px;
    background-color: rgba(36, 0, 255, 0.7);;
    border-radius: '9px';
    display:block;
    color: white;
    padding:9px 20px;
    border: none;
    top: 503px;
}