.head {
    position: absolute;
    top : 96px;
    text-align: left;
    font-size: 30px;
    
}

.Card1 {
    top: 150px;
}

.Card2 {
    top: 150px;
    
}

.Card3 {
    top : 150px;
    background-color: yellow;
}

.button{
    display:block;
    padding:9px 20px;
    position:absolute;
    width: 165px;
    height: 48px;
    position: absolute;
    left: 120px;
    bottom: 50px;
    box-shadow: '5px 5px 4px rgba(0, 0, 0, 0.45)';
    background-color: rgba(36, 0, 255, 0.7);;
    border-radius: '9px';
    
    
    color: white;
    
    border: none;
}